{% extends 'shared/base.html' %}

{% block header %}

<header></header>

{% endblock %}

{% block main %}

<h1 class="ui dividing header">
	Contact me
</h1>

{{ form.non_field_errors }}
<form  method="post" action="">
	{% csrf_token %}

	<div class="ui form">
		
		<div class="six wide field">
			{{ form.senders_name.errors }}
			<label for="{{ form.senders_name.id_for_label }}">
				Name:
			</label>
			{{ form.senders_name }}
		</div>

		<div class="six wide field">
			{{ form.senders_email.errors }}
			<label for="{{ form.senders_email.id_for_label }}">
				Email:
			</label>
			{{ form.senders_email }}
		</div>

		<div class="six wide required field">
			{{ form.subject.errors }}
			<label>
				Topic:
			</label>
			{{ form.subject }}
		</div>

		<div class="required field">
	    <label for="{{ form.message.id_for_label }}">
				Message:
			</label>
			{{ forms.message }}
	    <textarea name="message" placeholder="Your message"></textarea>
	  </div>


	  <!-- TODO: missing checkbox button
	 	<div class="">
	 		<label for=" form.cc_myself.id_for_label }}">
				Do you want a copy sendt to you?
			</label>
			{{ forms.cc_myself }}
		</div>
		-->

	  <button class="ui button" type="submit">
			Send
	  </button>
	</div>
</form>

{% endblock %}