{% extends 'shared/base.html' %}

{% block header %}

<header></header>

{% endblock %}

{% block main %}

<h1 class="ui huge center aligned dividing header">
	Header
</h1>

<p class="pageInfo">
	Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc sed arcu lacus. Nulla vitae blandit leo.
	Donec et sagittis metus. Suspendisse vel mi posuere, laoreet odio non, finibus massa.
	Phasellus ipsum neque, consectetur vitae iaculis non, vulputate et nisl.
</p>

<div class="ui list">
	<div class="ui item">
		<h3 class="ui header itemsIndent">
			Smaller header
		</h3>
		<p>
			Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc sed arcu lacus. Nulla vitae blandit leo.
			Donec et sagittis metus. Suspendisse vel mi posuere, laoreet odio non, finibus massa.
			Phasellus ipsum neque, consectetur vitae iaculis non, vulputate et nisl.
		</p>
	</div>
	<div class="ui item">
		<h3 class="ui header itemsIndent">
			Smaller header
		</h3>
		<p>
			Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc sed arcu lacus. Nulla vitae blandit leo.
			Donec et sagittis metus. Suspendisse vel mi posuere, laoreet odio non, finibus massa.
			Phasellus ipsum neque, consectetur vitae iaculis non, vulputate et nisl.
		</p>
	</div>
	<div class="ui item">
		<h3 class="ui header itemsIndent">
			Smaller header
		</h3>
		<p>
			Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc sed arcu lacus. Nulla vitae blandit leo.
			Donec et sagittis metus. Suspendisse vel mi posuere, laoreet odio non, finibus massa.
			Phasellus ipsum neque, consectetur vitae iaculis non, vulputate et nisl.
		</p>
	</div>
	<div class="ui item">
		<h3 class="ui header itemsIndent">
			Smaller header
		</h3>
		<p>
			Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc sed arcu lacus. Nulla vitae blandit leo.
			Donec et sagittis metus. Suspendisse vel mi posuere, laoreet odio non, finibus massa.
			Phasellus ipsum neque, consectetur vitae iaculis non, vulputate et nisl.
		</p>
	</div>
	
	<div class="ui item">
		<h3 class="ui header itemsIndent">
			Smaller header
		</h3>
		<p>
			Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc sed arcu lacus. Nulla vitae blandit leo.
			Donec et sagittis metus. Suspendisse vel mi posuere, laoreet odio non, finibus massa.
			Phasellus ipsum neque, consectetur vitae iaculis non, vulputate et nisl.
		</p>
	</div>

	<div class="ui item">
		<h3 class="ui header itemsIndent">
			Smaller header
		</h3>
		<p>
			Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc sed arcu lacus. Nulla vitae blandit leo.
			Donec et sagittis metus. Suspendisse vel mi posuere, laoreet odio non, finibus massa.
			Phasellus ipsum neque, consectetur vitae iaculis non, vulputate et nisl.
		</p>
	</div>

</div>

<h2 class="ui dividing header">Header</h2>

<h3 class="ui header">
	Smaller header
</h3>
<p>
	Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc sed arcu lacus. Nulla vitae blandit leo.
	Donec et sagittis metus. Suspendisse vel mi posuere, laoreet odio non, finibus massa.
	Phasellus ipsum neque, consectetur vitae iaculis non, vulputate et nisl.
</p>

<h3 class="ui header">
	Smaller header
</h3>
<p>
	Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc sed arcu lacus. Nulla vitae blandit leo.
	Donec et sagittis metus. Suspendisse vel mi posuere, laoreet odio non, finibus massa.
	Phasellus ipsum neque, consectetur vitae iaculis non, vulputate et nisl.
</p>
<p>
	Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc sed arcu lacus. Nulla vitae blandit leo.
	Donec et sagittis metus. Suspendisse vel mi posuere, laoreet odio non, finibus massa.
	Phasellus ipsum neque, consectetur vitae iaculis non, vulputate et nisl.
</p>
<p>
	Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc sed arcu lacus. Nulla vitae blandit leo.
	Donec et sagittis metus. Suspendisse vel mi posuere, laoreet odio non, finibus massa.
	Phasellus ipsum neque, consectetur vitae iaculis non, vulputate et nisl.
</p>

<h3 class="ui header">
	Smaller header
</h3>

<p>
	Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc sed arcu lacus. Nulla vitae blandit leo.
	Donec et sagittis metus. Suspendisse vel mi posuere, laoreet odio non, finibus massa.
	Phasellus ipsum neque, consectetur vitae iaculis non, vulputate et nisl.
</p>

<p>
	Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc sed arcu lacus. Nulla vitae blandit leo.
	Donec et sagittis metus. Suspendisse vel mi posuere, laoreet odio non, finibus massa.
	Phasellus ipsum neque, consectetur vitae iaculis non, vulputate et nisl.
</p>

<p>
	Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc sed arcu lacus. Nulla vitae blandit leo.
	Donec et sagittis metus. Suspendisse vel mi posuere, laoreet odio non, finibus massa.
	Phasellus ipsum neque, consectetur vitae iaculis non, vulputate et nisl.
</p>

{% endblock %}