{% extends 'shared/base.html' %}

{% block header %}

<header></header>

{% endblock %}

{% block main %}

<h1 class="ui huge center aligned dividing header">
	Quetions
</h1>

<p class="contactMe">
	Do you got a question? <a href="/contact">Contact me</a>
</p>

<div class="ui list">
	
	<h3 class="ui header">
		Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Nam nibh.
	</h3>

	<p>
		Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Nam nibh. Nunc varius facilisis eros. Sed erat. In in velit quis arcu ornare laoreet. Curabitur adipiscing luctus massa.
	</p>
	<p>
		 Integer ut purus ac augue commodo commodo. Nunc nec mi eu justo tempor consectetuer. Etiam vitae nisl. In dignissim lacus ut ante. Cras elit lectus, bibendum a, adipiscing vitae, commodo et, dui. Ut tincidunt tortor. Donec nonummy, enim in lacinia pulvinar, velit tellus scelerisque augue, ac posuere libero urna eget neque.
	</p>

</div>

{% endblock %}