<div class="ui simple dropdown item" style="width: 180px !important;">
	HOMEPAGE
	<i class="dropdown icon"></i>
	<div class="menu">
		<a href="/home" class="item">
			HOME
		</a>
		<a href="/page_one" class="item">
			PAGE ONE
		</a>	
		<a href="/page_two" class="item">
			PAGE TWO
		</a>
		<a href="/page_three" class="item">
			PAGE THREE
		</a>
		<a href="/page_four" class="item">
			PAGE FOUR
		</a>
		<a href="/from_guests" class="item">
			GUESTPOSTS
		</a>
	</div>
</div>
<a href="/blog/blogpost_list" class="item">
	BLOG
</a>
<div class=" right menu">
	<a href="/contact" class="item">
		CONTACT
	</a>
</div>