<div class="ui simple dropdown item">
	<p>
		MENU
	</p>
	<i class="sidebar icon"></i>
	<div class="ui tabular inverted teal menu mainColor ">
		<a href="/home" class="item">
			HOME
		</a>
		<a href="/page_one" class="item">
			PAGE ONE
		</a>
		<a href="/page_two" class="item">
			PAGE TWO
		</a>
		<a href="/page_three" class="item">
			PAGE THREE
		</a>
		<a href="/page_four" class="item">
			PAGE FOUR
		</a>
		<a href="/from_guests" class="item">
			GUESTPOSTS
		</a>
		<a href="/blog/blogpost_list" class="item">
			BLOG
		</a>
		<a href="/contact" class="item">
			CONTACT
		</a>
	</div>
</div>